<!-- <table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>
      </td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" routerLink="/">Ana Sayfa</button> -->

<!-- Buraya yükseklik vermediğim halde içerisindeki nesne kadar bir yüksekliği olduğuna dikkatini çekerim. -->
<app-homepage-carousel></app-homepage-carousel>
<app-homepage-album></app-homepage-album>
