<!-- https://bbbootstrap.com/snippets/bootstrap-search-box-input-icons-inside-88211241 -->

<div class="row" id="navbar-row">
  <div class="col-lg-3">
    <a class="navbar-brand navbar-logo" href="#">
      <img
        class="img-fluid d-none d-lg-block"
        src="../assets/logo.png"
        alt="logo"
      />
    </a>
  </div>
  <div class="col-lg-5 search-field-col">
    <div class="search">
      <i class="fa fa-search"></i>
      <input
        type="text"
        class="form-control"
        placeholder="Aradığınız kitabın adını yazınız."
      />
      <button class="btn btn-primary">Ara</button>
    </div>
  </div>
  <div class="button-random-col col-lg-1 pl-0">
    <button type="button" class="btn button-random btn-primary">
      Rastgele kitap
    </button>
  </div>
  <div class="col-lg-3 d-flex justify-content-center">
    <nav class="navbar navbar-dark navbar-expand-lg">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"
              ><i class="fa-solid fa-truck">
                
              </i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"
              ><i class="fas fa-shopping-cart">
             
                </i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"
              ><i class="far fa-user">
             
                </i
            ></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
