<div class="row bg-primary">
  <div class="col-12 d-flex justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="main_nav">
          <ul class="navbar-nav" *ngFor="let componentString of componentDetail[0].componentStrings" >
            <li class="nav-item">
              <a class="nav-link text-white" href="#" data-bs-toggle="">
                {{componentString.string}}
              </a>
            </li>
          </ul>
        </div>
        <!-- navbar-collapse.// -->
      </div>
      <!-- container-fluid.// -->
    </nav>
  </div>
</div>
