<div class="row bg-primary">
  <div class="col-12 d-flex justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="main_nav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link text-white" href="#" data-bs-toggle="">
                Bilim-Kurgu
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white" href="#" data-bs-toggle="">
                Dünya Klasikleri
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white" href="#" data-bs-toggle="">
                Psikoloji
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" [routerLink]="" data-bs-toggle="">
                Gençlik
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white" href="#" data-bs-toggle="">
                Tarih
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white" href="#" data-bs-toggle="">
                Biyografi
              </a>
            </li>
          </ul>
        </div>
        <!-- navbar-collapse.// -->
      </div>
      <!-- container-fluid.// -->
    </nav>
  </div>
</div>
